<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.sellit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SellIt">
        <activity android:name=".ui.RequestServiceActivity"></activity>
        <activity android:name=".ui.ProviderListActivity" />
        <activity android:name=".ui.customer.CustomerProfileActivity" />
        <activity android:name=".ui.customer.CustomerAppointmentsActivity" />
        <activity android:name=".ui.customer.CustomerRequestsActivity" />
        <activity android:name=".ui.customer.CustomerViewServicesActivity" />
        <activity android:name=".ui.customer.SendRegisterCustomerRequestActivity" />
        <activity android:name=".ui.customer.CustomerSignUpActivity" />
        <activity android:name=".ui.MapServiceToProviderActivity" />
        <activity android:name=".ui.AddServiceActivity" />
        <activity android:name=".ui.AddProductCategoryActivity" />
        <activity android:name=".ui.customer.CustomerHomeActivity" />
        <activity android:name=".ui.admin.AdminHomeActivity" />
        <activity
            android:name=".ui.provider.ProviderHomeActivity"
            android:theme="@style/Action.Bar" />
        <activity android:name=".ui.provider.RegisterProviderActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/Action.Bar" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>